{{!< default}}
<section class="hero">
	<div class="hero-content">
		<div class="logo"></div>
		<h1>Emmanuel Nelson</h1>
		<div class="spacer"></div>
		<h3><span>Front-End</span><span>Node</span><span>.NET Developer</span></h3> 
	</div>
	
</section>
<section class="work">
 <!--DO this in angular - make work Model-->
</section>
