<div class="work-tile">
	<img src="{{image.url}}" alt="{{name}}"/>
	<div class="view">
		<span><i class="fa fa-eye"></i> View Site</span>
	</div>
	<div class="lead-content">
		<h4 class="name">{{name}}</h4>
        <div class="roles">
			{{#each roles}}
                <span class="role">{{name}}</span>
			{{/each}}
		</div> 
	</div>
</div>
