body {
  background-color: #0c1b24;
  color: #bb9b74;
  font-size: 1rem; }

#footer {
  margin-top: 30px;
  padding-top: 30px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: #271007;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  button:focus {
    background-color: black;
    color: #fff; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75rem;
  padding: 1.5rem; }

input,
label,
select {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem; }

label {
  font-weight: 600;
  margin-bottom: 0.375rem; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input,
select[multiple=multiple] {
  background-color: #0c1b24;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color;
  width: 100%; }
  input:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  input:focus,
  select[multiple=multiple]:focus {
    border-color: #271007;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(17, 7, 3, 0.7);
    outline: none; }
  input:disabled,
  select[multiple=multiple]:disabled {
    background-color: #040a0d;
    cursor: not-allowed; }
    input:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375rem; }

input[type="file"] {
  padding-bottom: 0.75rem;
  width: 100%; }

select {
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto; }

body {
  color: #bb9b74;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

p {
  margin: 0 0 0.75rem; }

a {
  color: #271007;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active,
  a:focus,
  a:hover {
    color: black; }
  a:active,
  a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5rem 0; }

img {
  margin: 0;
  max-width: 100%; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?7wirvd");
  src: url("/fonts/icomoon.eot?#iefix7wirvd") format("embedded-opentype"), url("/fonts/icomoon.ttf?7wirvd") format("truetype"), url("/fonts/icomoon.woff?7wirvd") format("woff"), url("/fonts/icomoon.svg?7wirvd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye2:before {
  content: "\e601"; }

.icon-enlarge2:before {
  content: "\e98b"; }

.icon-arrow-up-right2:before {
  content: "\ea3b"; }

.icon-cross:before {
  content: "\ea0f"; }

.hero {
  height: 100vh;
  overflow: hidden; }
  .hero:after {
    content: ' ';
    position: relative;
    display: block;
    top: -4px;
    width: 100%;
    background-color: #bb9b74;
    height: 4px; }
  .hero .hero-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh; }
    .hero .hero-content:before {
      content: ' ';
      display: table;
      width: 99vw; }
    .hero .hero-content h1 {
      font-size: 5rem;
      font-weight: bold; }
    .hero .hero-content .spacer {
      width: 6vw;
      border-bottom: .5rem solid white;
      text-align: center;
      margin: 0 auto 1rem; }
    .hero .hero-content h3 {
      color: #884c4c;
      font-weight: bold;
      font-size: 1.5rem; }
      .hero .hero-content h3 span:last-child:after {
        content: ''; }
      .hero .hero-content h3 span:after {
        content: '+';
        margin: 0 8px;
        color: white; }

header {
  position: fixed;
  top: 0;
  height: 5rem;
  border-bottom: 3px solid #bb9b74;
  width: 100%;
  z-index: 100;
  background-color: #0c1b24; }
  header nav .logo {
    display: none;
    float: left; }
  header nav .menu {
    height: 3.75rem;
    position: relative;
    top: 0.625rem;
    margin-left: 20px;
    width: 4rem;
    border: solid 2px #bb9b74;
    border-radius: 8px;
    cursor: pointer; }
    header nav .menu .menu-button {
      content: '';
      height: 0.375rem;
      width: 3rem;
      background-color: #bb9b74;
      position: relative;
      display: block;
      margin: 0 auto;
      bottom: -1.6875rem;
      transition: all 0.5s ease-in-out;
      border-radius: 2px;
      cursor: pointer; }
      header nav .menu .menu-button:before {
        content: '';
        transition: all 0.5s ease-in-out;
        border-radius: 2px;
        position: absolute;
        height: 0.375rem;
        width: 3rem;
        background-color: #bb9b74;
        top: -1rem; }
      header nav .menu .menu-button:after {
        content: '';
        transition: all 0.5s ease-in-out;
        border-radius: 2px;
        position: absolute;
        height: 0.375rem;
        width: 3rem;
        background-color: #bb9b74;
        bottom: -1rem; }
      header nav .menu .menu-button.close {
        height: 0; }
        header nav .menu .menu-button.close:before {
          transform: rotate(45deg);
          top: .08rem;
          background-color: #fff; }
        header nav .menu .menu-button.close:after {
          transform: rotate(-45deg);
          bottom: -.4rem;
          background-color: #fff; }

.mobile-menu {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -200vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 90;
  transition: all 0.5s ease-in-out; }
  .mobile-menu.show {
    top: 20px; }
  .mobile-menu ul {
    padding-top: 100px; }
    .mobile-menu ul li {
      width: 100%;
      border-bottom: 3px solid #bb9b74;
      margin-bottom: 20px;
      transition: all 0.5s ease-in-out; }
      .mobile-menu ul li:hover {
        border-bottom-color: white; }
      .mobile-menu ul li a {
        font-size: 3em;
        color: #bb9b74;
        transition: all 0.5s ease-in-out;
        padding-left: 20px; }
        .mobile-menu ul li a:hover {
          color: white; }

.work:after {
  clear: both;
  content: ' ';
  position: relative;
  display: block;
  top: -4px;
  width: 100%;
  background-color: #bb9b74;
  height: 4px; }

.work .work-tile {
  width: 33.333%;
  display: inline-block;
  float: left;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 2;
  overflow: hidden; }
  .work .work-tile img {
    float: left;
    width: 100%;
    height: 100%; }
  .work .work-tile:hover {
    opacity: 1; }
    .work .work-tile:hover .lead-content {
      z-index: 100;
      bottom: 0; }
    .work .work-tile:hover .view a {
      visibility: visible;
      opacity: 1; }
  .work .work-tile.show-more {
    opacity: 1;
    overflow: visible; }
    .work .work-tile.show-more .lead-content {
      background-color: black;
      opacity: 1;
      bottom: 0;
      height: 100%;
      padding: 0;
      z-index: 10; }
      .work .work-tile.show-more .lead-content .close {
        display: inline-block; }
      .work .work-tile.show-more .lead-content .read-more {
        display: none; }
      .work .work-tile.show-more .lead-content .description, .work .work-tile.show-more .lead-content .company {
        visibility: visible;
        opacity: 1; }

.work .view {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; }
  .work .view a {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.94);
    padding: 5px 15px;
    border-radius: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    color: #bb9b74; }
    .work .view a:hover {
      color: #fff;
      cursor: pointer; }

.work .lead-content {
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
  height: 100px;
  position: absolute;
  bottom: -120px;
  width: 100%;
  z-index: -10;
  transition: bottom 0.3s ease-in-out, height 0.3s ease-in-out; }
  .work .lead-content .read-more, .work .lead-content .close {
    position: absolute;
    right: 20px;
    color: #fff; }
    .work .lead-content .read-more:hover, .work .lead-content .close:hover {
      cursor: pointer; }
    .work .lead-content .read-more i, .work .lead-content .close i {
      margin-left: 4px; }
  .work .lead-content .close {
    display: none; }
  .work .lead-content .container {
    padding: 20px 20px 0; }
  .work .lead-content .name {
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: solid 4px #884c4c; }
  .work .lead-content .roles .role {
    margin-right: 5px; }
    .work .lead-content .roles .role:after {
      content: '+';
      margin-left: 5px;
      color: #fff; }
    .work .lead-content .roles .role:last-child:after {
      content: ''; }
  .work .lead-content .description {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
    .work .lead-content .description h4 {
      color: #fff;
      margin-top: 30px; }
    .work .lead-content .description a {
      color: #884c4c; }
    .work .lead-content .description ul {
      padding-left: 30px; }
      .work .lead-content .description ul li {
        list-style-type: disc; }
  .work .lead-content .company {
    transition: all 0.6s ease-in-out;
    position: absolute;
    bottom: 15px;
    visibility: hidden;
    opacity: 0; }
    .work .lead-content .company span {
      color: #fff;
      font-weight: bold; }

@media (max-width: 1024px) {
  .work .work-tile {
    width: 50%;
    opacity: 1; }
    .work .work-tile .lead-content {
      z-index: 100;
      bottom: 0; }
    .work .work-tile .view a {
      visibility: visible;
      opacity: 1; } }

@media (max-width: 768px) {
  .work .work-tile {
    width: 100%;
    opacity: 1;
    overflow: visible; } }

.about {
  white-space: nowrap;
  overflow: hidden; }
  .about .about-panel {
    padding: 3%;
    width: 44%;
    display: inline-block;
    float: left;
    white-space: normal; }
    .about .about-panel p {
      color: white; }
    .about .about-panel ul {
      padding-left: 30px; }
      .about .about-panel ul li {
        list-style-type: disc; }
        .about .about-panel ul li a {
          color: #884c4c; }
          .about .about-panel ul li a:hover {
            color: #fff; }
  .about .contact-panel {
    display: inline-block;
    width: calc(44% - 2px);
    border-left: solid 2px #bb9b74;
    padding: 0 3%;
    margin: 3% 0;
    float: left;
    min-height: 200px; }
    .about .contact-panel input, .about .contact-panel textarea {
      background: white;
      width: 100%; }
    .about .contact-panel p {
      color: white; }
    .about .contact-panel textarea {
      padding: 10px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 16px;
      width: 96.5%;
      border-radius: 4px; }
    .about .contact-panel .invalid {
      color: #c9302c;
      display: block;
      width: 100%;
      margin: 0 0 6px 0;
      position: relative;
      top: -4px; }
    .about .contact-panel .submit-button {
      width: 100%;
      background-color: #884c4c; }
  @media (max-width: 768px) {
    .about {
      padding: 30px;
      white-space: normal; }
      .about .about-panel {
        width: 100%;
        margin: 0 0 30px 0;
        float: none;
        padding: 0; }
        .about .about-panel h4 {
          margin-top: 30px; }
      .about .contact-panel {
        width: 100%;
        margin: 0;
        padding: 0;
        border-left: none;
        float: none;
        display: block; }
        .about .contact-panel input, .about .contact-panel textarea {
          width: 97%; }
        .about .contact-panel textarea {
          width: 93.5%; }
        .about .contact-panel .submit-button {
          width: 97%; } }
