body{
  background-color:$base-background-color;
  color:$color-secondary;
}
html{
  font-size:$base-font-size;
  @media (max-width: $bp-between){
	font-size:$base-font-size*.8 !important;
  }
  @media (max-width: $bp-mobile){
	font-size:$base-font-size*.6 !important;
  }
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
}
.content-wrapper{
    margin: 0 px-to-rem($layout-side-margin-desktop);
    @media (max-width: $bp-between){
        margin: 0 px-to-rem($layout-side-margin-tablet);
    }
    @media (max-width: $bp-mobile){
        margin: 0 px-to-rem($layout-side-margin-mobile);
    }
}
