.about{
  white-space: nowrap;
  overflow: hidden;
  .about-panel{
	padding:3%;
	width:44%;
	display: inline-block;
	float:left;
	p{
	  color:white;
	}
	ul{
	  padding-left: 30px;
	  li{
		list-style-type: disc;
		a{
			color: $color-primary-inverse;
		  	&:hover{
			  color:$color-white;
			}
		}
	  }
	}
  }
  .contact-panel{
	display:inline-block;
	width:calc(44% - 2px);
	border-left: solid 2px $color-secondary;
	padding:0 3%;
	margin: 3% 0;
	float:left;
	min-height: 200px;
	input,textarea{
	  background:white;
	  width:100%;
	}
	p{
	  color:white;
	}
	textarea{
	  padding:10px;
	  font-family: 'Noto Sans', sans-serif;
	  font-size: 16px;
	  width:96.5%;
	  border-radius:4px;
	}
	.invalid{
	  color:#c9302c;
	  display: block;
	  width:100%;
	  margin: 0 0 6px 0 ;
	  position: relative;
	  top:-4px;
	}
	.submit-button{
	  width:100%;
	  background-color:$color-primary-inverse;
	}
  }
}
