header{
  $header-height:5rem;
  $menu-button-height:3.75rem;
  $menu-button-width:4rem;
  $line-width:3rem;
  $line-height:.375rem;
  position:fixed;
  top:0;
  height:$header-height;
  width:100%;
  z-index: 100;
  background-image:linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
  nav{
      position: relative;
      z-index: 100;
      height: 100%;
	.logo{
	  display:none;
	  float:left;
	}
	.menu{
	  height:$menu-button-height;
	  position:relative;
	  top:($header-height - $menu-button-height)/(2);
	  margin-left:20px;
	  width:$menu-button-width;
	  border:solid 2px $color-secondary;
	  border-radius:8px;
	  cursor: pointer;
      top: 14px;
      &:hover{
          .menu-button{
              background-color: $color-white;
              &:before,&:after{
                  background-color: $color-white;
              }
          }
      }
	  .menu-button{
		content:'';
		height:$line-height;
		width: $line-width;
		background-color:$color-secondary;
		position:relative;
		display: block;
		margin:0 auto;
		bottom:-($menu-button-height/2) + ($line-height/2);
		transition: all .5s ease-in-out;
		border-radius:2px;
		cursor:pointer;
		&:before{
		  content:'';
		  transition: all .5s ease-in-out;
		  border-radius:2px;
		  position:absolute;
		  height:$line-height;
		  width: $line-width;
		  background-color:$color-secondary;
		  top:-1rem;
		}
		&:after{
		  content:'';
		  transition: all .5s ease-in-out;
		  border-radius:2px;
		  position:absolute;
		  height:$line-height;
		  width: $line-width;
		  background-color:$color-secondary;
		  bottom:-1rem;
		}
		&.close{
		  height:0;
		  &:before{
			transform:rotate(45deg);
			top:.08rem;
			background-color:$color-white;

		  }
		  &:after{
			transform:rotate(-45deg);
			bottom:-.4rem;
			background-color:$color-white;
		  }
		}
	  }

	}
  }
}
