.mobile-menu{
  background-size:cover;
  width:100vw;
  height:100vh;
  position:relative;
  top:-200vh;
  color:white; 
  background-color:rgba(0,0,0,.9);
  z-index: 90;
  transition:all 0.5s ease-in-out;
  &.show{
	top:20px;
  }
  ul{
	padding-top:100px;
	li{
	  width:100%;
	  border-bottom:3px solid $color-secondary;
	  margin-bottom:20px;
	  transition:all 0.5s ease-in-out;
	  &:hover{
		border-bottom-color:white;	
	  }
	  a{
		font-size:3em;
		color:$color-secondary;
		transition:all 0.5s ease-in-out;
		padding-left:20px;
		&:hover{
		  color:white;
		}
	  }
	}
  }
}
