<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emmanuel Nelson</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    //- Safely remove this block if you are not targeting IE8 --}} -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />-->
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:300,400,700|Rasa:300,400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <header navigation offset="60" du-scrollspy="work" offset="200">
        <nav>
            <div class="menu" ng-click="toggleMenu();">
                <span class="menu-button" ng-class="{'close':showMenu}"></span>
            </div>
            <!-- {{> bicycle}} -->
        </nav>
        <div class="mobile-menu" ng-class="{'show':showMenu}">
            <ul>
                <li><a ng-click="scrollTo('work')" href="">Work</a></li>
                <li><a ng-click="scrollTo('about')" href="">About</a></li>
                <li><a ng-click="scrollTo('contact')" href="">Contact</a></li>
            </ul>
        </div>
    </header>

    <home-app>Loading...</home-app>
</body>
</html>
